@model System.Collections.Generic.List<SongOfTheDay.Models.Video>

@foreach (var item in Model)
{
    <div class="archive-video" id="@item.Link">
        <div class="archive-video-image">
            <img class="archive-video-image-image" src="@item.Image">
        </div>
        <div class="archive-video-information">
            <div>
                <strong>@item.Name</strong>
            </div>
            <div class="archive-video-information-date archive-admin-video-information-date ">
                @item.Date.ToString("yyyy MMMM dd")
            </div>
            <form action="/Video/RemoveVideo" class="form archive-remove-video">
                <input type="hidden" name="id" value="@item.VideoId" />
                <button>
                    Remove Video
                </button>
            </form>
            <form action="/Video/EditVideo" class="form archive-edit-video">
                <input type="hidden" name="id" value="@item.VideoId" />
                <button>
                    Edit Video
                </button>
            </form>
        </div>
    </div>
}
